matplotlib==3.8.0
numpy==1.23.5
pandas==2.0.3
scikit_learn==1.3.0
seaborn==0.12.2
spacy==3.6.1
nltk==3.8.1
tqdm==4.66.1
optuna==3.5.0

xgboost
lightgbm
catboost
category_encoders

ipykernel
openpyxl
joblib
Flask
Flask_Cors
